

@{
                /**/

                ViewBag.Title = "ForgotPassword";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <ul class="nav navbar-nav" id="user">
        <li> <img src="~/Images/Company_Logo.PNG" alt="Sample Photo" height="50" /></li>
    </ul>
</div>

<style>
    body {
        background-color: lightgray;
    }

    #centered {
        border-radius: 25px;
        border: 2px solid #73AD21;
        background-color: white;
        width: 400px;
        height: 200px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
</style>



@using (Html.BeginForm())
{
    
<div class="form-horizontal" id="centered">
    <h2 style="text-align:center"><b>Forgot Password</b></h2>
    <br>
    <div class="form-group" style="padding-left:80px">

        @Html.TextBox("EmailID", "", new { @class = "form-control", placeholder = "Enter your email address" })

    </div>
    <p style="color:blue;text-align:center">@ViewBag.CodeSent</p>
    @*<div class="form-group" style="padding-left:40px">
            <div class="ccl-md-offset-2 col-mod-10">
                <input type="submit" value="Submit" class="btn btn-success" style="position:absolute;background-color:lightgreen" />
            </div>
        </div>*@
    <div class="form-group" style="padding-left:20%">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Send" class="btn btn-group-lg" style="position:absolute;background-color:lightgreen;width:100px" />
        </div>
    </div>
</div>


}