@using Capstone_Project.Models

@{
    ViewBag.Title = "WelcomeAdmin";
}

@{
    var admin = (Admin)TempData["Admin"];
}


<h1 style="text-align:center; font-size:50px; color:darkslateblue"><b>Welcome Mandy Kerefoot</b></h1>
<img src=~/Images/admin1.jpg width="100%" height="100%" style="position:right; top:100px"/> ;



<div class="navbar navbar-inverse navbar-fixed-top">

        <ul class="nav navbar-nav" id="user">
            <li>@Html.ActionLink("Bon.ker Casting", "WelcomeAdmin", "Home")</li>
            <li> <img src="~/Images/Company_Logo.PNG" alt="Sample Photo" height="50" /></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("View Report of All Talents", "ViewAllTalents", "Home")</li>
            <li>@Html.ActionLink("Search Talent", "Search", "Home")</li>
            <li style="padding-right:10px">@Html.ActionLink("Logout", "Login", "Home")</li>
        </ul>

</div>

<br />



