/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

/*section {
    padding: 50px 0;
    width:1520px;
    position:absolute;
}*/
.footer {
    padding: 50px 0;
    width: 1540px;
    position: fixed;
    bottom:0px;
    background-color:black;
}


